//////////////////////////////
// ADJUSTMENTS FOR SCREEN SIZE
//////////////////////////////

// iPad
@media (max-width: 768px) {
  .board {
    padding: 0 20px 20px;
  }
}

// Mobile
@media (max-width: 480px) {
  .board-search {
    display: none;
  }
  .post_file {
    min-width: 100%;
  }
}

// Small mobile
@media (max-width: 360px) {
  .header-board {
    text-overflow: clip;
  }
  .post-file-link {
    float: none;
  }
}

// Small screen
@media (max-width: 1000px) {
  .post {
    max-width: 100%;
  }
  .post_op:not(.post_hover):not(.post_catalog) {
    min-width: 100%;
  }
}

// Retina

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .logo {
    background: url('/static/img/logo@2x.png') no-repeat top left;
    background-size: 30px 30px;
  }
}
