//////////////////////////////
// CUTE THEME
//////////////////////////////

@font: "Trebuchet MS", sans-serif;
@fontSize: 15px;
@lineHeight: 1.4;
@headerHeight: 25px;
@bodyBG: #eee;
@postBG: #ddd;
@body: #0a0a0a;
@link: #54578c;
@em: #6e9e06;
@del: black;
@border: 2px solid #ccc;
@bold: #1a8522;
@admin: #d60000;
@mod: #7800b3;
@orange: #f60;

// TODO(Kagami): Extract all color/appearance styles from base.
@import "base.mix.less";
