//////////////////////////////
// LIGHT THEME
//////////////////////////////

// Fonts, sizes.
@fontSize: 14px;
@headerFontSize: 14px;
@searchFontSize: 15px;
@posttimeFontSize: 11px;
@lineHeight: 1.5;
@headerHeight: 30px;
@postMargin: 0 0 10px 0;
@scrollbarWidth: 8px;

// Backgrounds.
@bodyBG: hsl(275, 10%, 94%);
@postBG: hsl(275, 9%, 90%);
@headerBG: rgba(239, 238, 241, 0.9);
@headerBGHover: #d8d6e0;
@buttonBG: transparent;
@modalBG: hsl(275, 12%, 94%);
@replyBG: hsl(275, 9%, 90%);
@replyfloatBG: hsl(275, 9%, 90%);
@replyinfoBG: hsla(0, 0%, 100%, 0.8);

// Colors.
@body: #0a0a0a;
@link: hsl(275, 25%, 40%);
@linkHover: hsl(275, 15%, 60%);
@spoilerlink: hsl(275, 25%, 40%);
@messagelink: hsl(275, 32%, 45%);
@admin: #d60000;
@mod: #7800b3;
@postop: #101010;
@postlink: @link;
@postid: hsl(275, 10%, 40%);
@postidop: @postid;
@postcounter: #80796a;
@posttime: #59554b;
@posttimeop: #86847f;
@postsubject: hsl(275, 15%, 38%);
@postinfo: #5f5f5f;
@postboard: #6e72b8;
@postboardHover: #54578c;
@postcatalogcounter: #6e72b8;
@postfilebadge: #e1dde1;
@postbacklinkpre: @postinfo;
@quote: #00882d;
@spoiler: #d0c9d4;
@modal: #000000;
@modallinkHover: #918466;
@pagetitle: hsl(275, 15%, 38%);
@headeritem: hsl(275, 25%, 35%);
@tabsel: #918466;
@omit: #8a8a8a;
@control: @link;
@controlHover: @linkHover;
@button: hsl(275, 25%, 40%);
@buttonHover: hsl(275, 20%, 40%);
@replyinfo: #4d4d4d;
@replysendHover: @buttonHover;
@searchinput: inherit;
@searchplaceholder: #757575;
@pagecurrent: inherit;
@replyboard: @link;

// Borders.
@border: 1px solid hsl(275, 10%, 50%);
@separatorBorder: 1px solid #b2a3ba;
@headerBorder: 1px solid #775e7c;
@modalBorder: 1px solid #775e7c;
@searchBorder: 1px solid hsl(275, 15%, 40%);
@searchBorderHover: @border;
@postcatalogBorder: 1px dashed #2c2f63;
@previewBorder: none;
@postBorder: none;
@replyBorder: none;
@buttonBorder: @border;
@buttonBorderHover: @border;
@replysendBorder: 1px solid hsl(275, 25%, 40%);
@replysendBorderHover: @buttonBorderHover;
@lightHBorder: linear-gradient(90deg, transparent, #bfb4d6 10%, #bfb4d6 90%, transparent 100%) 1;
@darkHBorder: linear-gradient(90deg, transparent, #a295bf 10%, #a295bf 90%, transparent 100%) 1;
@darkVBorder: linear-gradient(transparent, #a295bf 20%, #a295bf 80%, transparent 100%) 1;

// Shadows.
@buttonShadow: 0px 0px 2px 0px hsla(275, 30%, 30%, 0.6);
@searchShadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 3px rgba(149, 92, 158, 0.9);
@headerShadow: 0 0 2px 0 rgba(80, 64, 107, 0.8);
@modalShadow: -1px 1px 2px 0px hsl(275, 8%, 57%), 0px 0px 2px 0px hsl(275, 8%, 57%);
@previewShadow: 1px 1px 2px 0px hsl(275, 8%, 57%), 0px 0px 2px 0px hsl(275, 8%, 57%), 0 0 30px 0 hsla(0, 0%, 0%, 0.07);
@postShadow: 1px 1px 3px 0px hsl(275, 8%, 57%), 0px 0px 2px 0px hsl(275, 8%, 57%);
@postfilebadgeShadow: 1px 1px 2px #734474;
@replyShadow: 1px 1px 3px 0px hsl(275, 8%, 57%), 0px 0px 2px 0px hsl(275, 8%, 57%);
@replysendShadow: @buttonShadow;

// Style everything.
@import "_base";
