//////////////////////////////
// FOR USERS WITH JS DISABLED
//////////////////////////////

.banner-item, #refresh, #catalog-controls, aside.posting, .control {
  display: none;
}

#thread-form-container {
  background: none;
  border: none;
  & > span.act {
    display: none;
  }
}

#new-thread-form, #new-reply-form {
  display: block;
  & > input[name=cancel] {
    display: none;
  }
}
