/node_modules/
/package-lock.json
/dist/
/smiles-pp/
/labels-pp/

*_easyjson.go
bin_data.go
*.qtpl.go
/mustache-pp/
/go/src/*
/go/bin/
/go/pkg/
!/go/src/meguca/
/go/multipart-*
uploads
thumb_*.jpg
thumb_*.png
tags
/geoip/

/deb_dist/
/cutechan.deb
