/node_modules/
/package-lock.json
/dist/
*.qtpl.go
bin_data.go
*_easyjson.go
/mustache-pp/
/smiles-pp/
/go/src/*
!/go/src/meguca/
/go/bin/
/go/pkg/
/go/multipart-*
uploads
thumb_*.jpg
thumb_*.png
tags
/deb_dist/
/cutechan.deb
