# Enable debug server routes (pprof).
#debug = false

# Host to listen on.
#host = "127.0.0.1"

# Port to listen on.
#port = 8001

# PostgreSQL connection string.
#conn = "user=meguca password=meguca dbname=meguca sslmode=disable"

# Assume server is behind reverse proxy when resolving client IPs.
#rproxy = false

# Use secure cookies.
#secure = false

# Spawn thumbnail process as separate user.
#user = ""

# Cache size in megabytes.
#cache = 128

# Site directory location.
#site_dir = "./dist"

# HTTP header to look country code in. Set "CF-IPCountry" for Cloudflare.
#geo_header = ""

# Uploads backend. Can be "fs", "sftp" or "swift".
#file_backend = "fs"

# Uploads directory location. Valid only for fs backend.
#file_dir = "./uploads"

# SFTP address. Valid only for sftp backend.
#file_address = "localhost:22"

# SFTP host public key. Valid only for sftp backend.
#file_host_key = ""

# SFTP/Swift username.
#file_username = "cutechan"

# SFTP/Swift password.
#file_password = "password"

# Swift authentication URL. Valid only for swift backend.
#file_auth_url = "https://localhost/v1.0"

# Swift container. Valid only for swift backend.
#file_container = "uploads"
