# Enable debug server routes (pprof).
#debug = false

# Host to listen on.
#host = "127.0.0.1"

# Port to listen on.
#port = 8001

# PostgreSQL connection string.
#conn = "user=meguca password=meguca dbname=meguca sslmode=disable"

# Assume server is behind reverse proxy when resolving client IPs.
#rproxy = false

# Use secure cookies.
#secure = false

# Spawn thumbnail process as separate user.
#user = ""

# Cache size in megabytes.
#cache = 128

# Site directory location.
#site_dir = "./dist"

# Kpopnet data directory location.
#data_dir = "./go/src/github.com/Kagami/kpopnet/data"

# GeoIP databases directory location.
#geo_dir = "./geoip"

# Allowed origin for Idol API.
#origin = "http://localhost:8000"

# Uploads backend. Can be "fs" or "swift".
#file_backend = "fs"

# Uploads directory location. Valid only for fs backend.
#file_dir = "./uploads"

# Swift username. Valid only for swift backend.
#file_username = "cutechan"

# Swift password. Valid only for swift backend.
#file_password = "password"

# Swift authentication URL. Valid only for swift backend.
#file_auth_url = "https://localhost/v1.0"

# Swift container. Valid only for swift backend.
#file_container = "uploads"
