<article class="{{ PostClass }}" id="post{{ ID }}" data-id="{{ ID }}">

  <header class="post-header">
    <a class="post-anchor" name="{{ ID }}"></a>
    <a class="post-header-item post-id" href="{{ URL }}">#{{ ID }}</a>
    {{#OP}}
      <h3 class="post-header-item post-subject">{{ Subject }}</h3>
    {{/OP}}{{#Staff}}
      <span class="post-header-item post-staff">## {{ Auth }} ##</span>
    {{/Staff}}
    <time class="post-header-item post-time">{{ Time }}</time>
  </header>

  <section class="post-body">
    {{{File}}}
    <blockquote class="post-message">
      {{{Body}}}
    </blockquote>
  </section>

  <footer class="post-footer">
    <div class="post-backlinks">{{{Backlinks}}}</div>
    <div class="post-controls">
      <a class="control post-control post-delete-control trigger-delete-post">
        <i class="fa fa-remove trigger-delete-post"></i>
      </a>
      <a class="control post-control post-ban-control trigger-ban-by-post">
        <i class="fa fa-gavel trigger-ban-by-post"></i>
      </a>
      <a class="control post-control post-quote-control trigger-quote-post">
        <i class="fa fa-reply trigger-quote-post"></i>
      </a>
    </div>
  </footer>

</article>
