<figure class="post-file{{#Record}} post-file_record{{/Record}}">
  <figcaption class="post-file-info">
    {{^Record}}
      <span class="post-file-info-item post-file-dims">{{ Width }}×{{ Height }}</span>
    {{/Record}}
    <span class="post-file-info-item post-file-size">{{ Size }}</span>
    {{#HasLength}}
      <span class="post-file-info-item post-file-length">{{ Length }}</span>
    {{/HasLength}}{{#HasTitle}}
      <span class="post-file-info-item post-file-title" title="{{ Title }} ({{ LCopy }})">{{ Title }}</span>
    {{/HasTitle}}
  </figcaption>
  <a class="post-file-link" download="{{ DName }}" href="{{ SourcePath }}" target="_blank">
    {{^Record}}
      {{#HasVideo}}
        <i class="fa fa-play-circle-o post-file-badge post-file-video-badge"></i>
      {{/HasVideo}}{{#HasAudio}}
        <i class="fa fa-volume-up post-file-badge post-file-audio-badge"></i>
      {{/HasAudio}}
      <img class="post-file-thumb{{^HasVideo}} trigger-media-hover{{/HasVideo}} trigger-media-popup" src="{{ ThumbPath }}" width="{{ TWidth }}" height="{{ THeight }}" data-sha1="{{ SHA1 }}">
    {{/Record}}{{#Record}}
      <i class="post-file-thumb trigger-media-popup fa fa-music" data-sha1="{{ SHA1 }}"></i>
    {{/Record}}
  </a>
</figure>
