<figure class="post-media">
  <figcaption class="post-info">
    <span class="fileinfo">
      {{#HasArtist}}
        <span class="media-artist">{{ Artist }}</span>
      {{/HasArtist}}{{#HasTitle}}
        <span class="media-title">{{ Title }}</span>
      {{/HasTitle}}{{#HasAudio}}
        <span class="has-audio">♫</span>
      {{/HasAudio}}{{#HasLength}}
        <span class="media-length">{{ Length }}</span>
      {{/HasLength}}
      <span class="filesize">{{ Size }}</span>
      <span class="dims">{{ TWidth }}×{{ THeight }}</span>
    </span>
  </figcaption>
  <a class="post-media-link" href="{{ SourcePath }}" target="_blank">
    <img class="post-media-thumb" src="{{ ThumbPath }}" width="{{ Width }}" height="{{ Height }}">
  </a>
</figure>
